{% extends "base.html" %}
{% load webdesign %}

{% block title %}{{ block.super }}{% endblock %}


{% block head %}
{% endblock %}

{% block tabs %}
  {% with "Home" as current_tab %}
    {{block.super}}
  {%endwith%}
{%endblock%}

{% block sidebar %}
  {{block.super}}
{% endblock %}

{% comment  %}
Need to show 
  * site news
  * poll
  * basic stats
  * shoutbox

Row 1
  site

{% endcomment %}

{% block content %}
  {% for newsitem in recent_newsitems %}
    <div class="content-section news-entry">
      <h3>{{newsitem.title}}</h3>
      <span class="news-entry-date">{{newsitem.added|date:"N j Y g:i A"}}</span>
      <hr />
      <div class="news-entry-body">
        {{newsitem.body|safe}}
      </div>
    </div>
  {% endfor %}
{% endblock %}

