{% extends "base.html" %}
{% load i18n %}  
{% block bodyclass %}about{% endblock %}
{% block content %}  
{% endblock %}
{% block sidebar %}
  <div class="sidebar-section">
    <h2>Messages</h2>
    <hr />
    <ul class="content">
      <li><a href="{% url messages_inbox %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
      <li><a href="{% url messages_outbox %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
      <li><a href="{% url messages_compose %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
      <li><a href="{% url messages_trash %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
    </ul>
  </div>
  {{block.super}}
{% endblock %}
