{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %}
  <div class="content-section">
    <h3>{% trans "Inbox" %}</h3>
    <table class="messages-list">
      <thead>
        <tr>
          <th>{% trans "Sender" %}</th>
          <th>{% trans "Subject" %}</th>
          <th>{% trans "Received" %}</th>
          <th>{% trans "Action" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for message in message_list %} 
        <tr>
          <td>{{ message.sender }}</td>
          <td>
              {% if message.new %}<strong>{% endif %}
              {% if message.replied %}<em>{% endif %}
              <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
              {% if message.replied %}</em>{% endif %}
              {% if message.new %}</strong>{% endif %}</td>
          <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
          <td><a href="{% url messages.views.delete message.id %}">{% trans "delete" %}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
